@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500;700&display=swap');


.main-container {
    position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	padding: 20px;
	align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
}


.head-2 {
    width: 578px;
    height: 51px;
    left: 431px;
    top: 363px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 42px;
    line-height: 51px;
    margin: 0;
    

    display: flex;
    align-items: center;
    letter-spacing: -0.017em;
    color: #235365;
}

p {
    width: 490px;
    height: 29px;
    left: 475px;
    top: 443px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    margin-bottom: 1.5rem;
    
    align-items: center;
    text-align: center;
    letter-spacing: -0.017em;
    color: #B1B1B1;
}

.btn {
    width: 164px;
    height: 48px;
    margin: 0;
    background: #1556FC;
    border-radius: 4px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 18.7966px;
    line-height: 23px;
    display: flex;
    align-items: center;
    justify-content: center;
    letter-spacing: -0.017em;

    color: #F2F2F2;
}

.btn:hover {
    background: #134fc7;
}

.btn:active {
    background: #0F3F9C;
}

.link {
    text-decoration: none;    
    
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 18.7966px;
    line-height: 23px;
}

.link:visited { text-decoration: none; }

.link:hover { 
    text-decoration: none;
    color: white;
    
 }

.link:active { 
    text-decoration: none;

}
